.technology-bg{
    background-image: url('../assets/technology/background-technology-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
    min-height: 850px;
}
.info-container-tech{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-container-tech[anim='1']{
    animation: anim 1s;
}
@keyframes anim {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tech-title{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding-top: 5em;
    padding-bottom: 2em;
}
.tech-title span{
    margin-right: 8px;
    color: white;
    opacity: .25;
}
.tech-picture-frame{
    height: 223px;
}
.tech-picture-frame img{
    height: 170px;
    object-fit: cover;  
    width:100%  
}
.tech-buttons{
    display: flex;
    justify-content: space-around;
    width: 152px;
    height: 40px;
    margin-top: 2em;
}
.tech-buttons p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #D0D6F9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.tech-buttons p.active{
    background-color: white;
    color: black;
}
.tech-info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tech-terminology{
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
    font-size: 14px;
    margin-top: 26px;
    letter-spacing: 2.3px;
    margin-bottom: 9px;
}
.tech-name{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-family: 'Bellefair', sans-serif;
}
.tech-bio{
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
}
@media (min-width: 768px) {
    .technology-bg{
        height: 100%;
        min-height: 1025px
    }
    .tech-title{
        padding-top: 136px;
        padding-left: 39px;
        padding-bottom: 0px;
        padding-bottom: 60px;
    }
    .tech-picture-frame{
        height: 310px;
        width: 100%;
    }
    .tech-picture-frame img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .tech-terminology{
        font-size: 16px;
    }
    .tech-name{
        font-size: 40px;
    }
    .tech-bio{
        width: 450px;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    hr{
        display: none;
    }
    @media (min-width: 1260px){
        .tech-title{
            font-size: 28px;
        }
        .info-container-tech {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .tech-picture-frame:nth-child(1){
            order: 1;
            width: 515px;
            height: 527px;
        }
        .tech-info-text{
            align-items: initial;
        }
        .tech-terminology{
            text-align: left;
        }
        .tech-name{
            font-size: 58px;
            text-align: left;
        }
        .tech-bio{
            font-size: 18px;
            line-height: 32px;
            text-align: left;
        }
        .tech-buttons{
            flex-direction: column;
            width: 165px;
            height: 269px;
            align-items: flex-end;
        }
        .tech-buttons p {
            height: 70px;
            width: 70px;
            font-size: 32px;
        }
    }
}